.auth-password-input::-ms-reveal,
.auth-password-input::-ms-clear {
  display: none;
}

.auth-password-input::-webkit-credentials-auto-fill-button,
.auth-password-input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
