<label class="flex items-center gap-[10px] cursor-pointer">
  <input
    class="appearance-none hidden"
    type="checkbox"
    [checked]="checked()"
    (change)="onToggle()"
  />
  <span [class]="checkboxClass()">
    <svg
      [class]="svgClass()"
      width="10"
      height="8"
      viewBox="0 0 10 8"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9 1L3.5 6.5L1 4"
        stroke="currentColor"
        stroke-width="1.6666"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </span>
  <span [class]="labelClass()">{{ label() | translate }}</span>
</label>
